@import '../../styles/variables.scss';

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-blue;
  color: $primary;
  h2 {
    text-align: center;
  };

  &__card {
    background-color: $white;
    border-radius: 6px;
    padding: 4rem;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
};

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 12px;
  color: $font;
};


